@model CoronaDashboard.Web.Models.PlotViewModel
@using Newtonsoft.Json;

<script src="~/js/palette.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
	<div id="plot"></div>
</figure>

<script>
	colorpal = palette('mpn65', @Model.Series.Count);

	for (let i = 0; i < colorpal.length; i++) {
		colorpal[i] = '#' + colorpal[i];
	}

	Highcharts.chart('plot', {

		colors: colorpal,

		chart: {
			height: 600,
			zoomType: "xy",
			panning: true,
			panKey: 'shift'
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.y:.@ViewData["TooltipDecimals"]f}</b><br/>',
			valueSuffix: ' cm',
			shared: false
		},
		credits: {
			enabled: false
		},

		exporting: {
			enabled: false
		},

		title: {
			text: 'Coronavirus deaths'
		},

		subtitle: {
			useHTML: true,
			text: 'Data source: <a href=" https://github.com/CSSEGISandData/COVID-19">CSSEGISandData</a> (@Model.UpdateTime.ToString("u"))'
		},

		yAxis: {
			min: @ViewData["YMin"],
			type: '@ViewData["YType"]',
			tickInterval: @ViewData["YTickInterval"],
			minorTickInterval: 0.1,
			title: {
				text: '@Html.Raw(ViewData["YLabel"])'
			}
		},

		xAxis: {
			allowDecimals: false,
			title: {
				text: '@Html.Raw(ViewData["XLabel"])'
			}
		},

		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle'
		},

		plotOptions: {
			series: {
				label: {
					connectorAllowed: false
				},
				pointStart: 0
			}
		},

		series: @Html.Raw(JsonConvert.SerializeObject(Model.Series)),

		responsive: {
			rules: [{
				condition: {
					maxWidth: 500
				},
				chartOptions: {
					legend: {
						layout: 'horizontal',
						align: 'center',
						verticalAlign: 'bottom'
					}
				}
			}]
		}
	});
</script>