@model CoronaDashboard.Web.Models.TimelineViewModel
@using Newtonsoft.Json;

@{
	ViewData["Title"] = "Peaks";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/timeline.js"></script>

<div id="Timeline"></div>

<div id="barAbsolute"></div>

<div id="barRelative"></div>

<script type="text/javascript">

	Highcharts.chart('Timeline', {
		chart: {
			zoomType: 'x',
			type: 'timeline',
			panning: true,
			panKey: 'shift'
		},
		xAxis: {
			type: 'datetime',
			visible: false
		},
		credits: {
			enabled: false
		},

		exporting: {
			enabled: false
		},
		yAxis: {
			gridLineWidth: 1,
			title: null,
			labels: {
				enabled: false
			}
		},
		legend: {
			enabled: false
		},
		title: {
			text: 'Date of maximum number of @ViewData["Metric"]'
		},
		tooltip: {
			style: {
				width: 200
			}
		},
		series: [{
			dataLabels: {
				allowOverlap: false,
				format: '<span style="color:{point.color}">● </span><span style="font-weight: bold;" > ' +
					'{point.x:%d %b %Y}</span><br/>{point.label}'
			},
			marker: {
				symbol: 'circle'
			},
			data: @Html.Raw(JsonConvert.SerializeObject(Model.Data))
				/*
				[{
				x: 1514764800000,
				name: 'First dogs in space',
				label: 'First dogs in space'
			}, {
				x: Date.UTC(1957, 9, 4),
				name: 'First artificial satellite',
				label: 'First artificial satellite',
				description: "Sputnik 1 was the first artificial Earth satellite. The Soviet Union launched it into an elliptical low Earth orbit on 4 October 1957, orbiting for three weeks before its batteries died, then silently for two more months before falling back into the atmosphere."
			}
			]
			*/
		}]
	});

	chartBarAbs = Highcharts.chart('barAbsolute', {
		chart: {
			height: 300,
			type: 'column'
		},
		credits: {
			enabled: false
		},

		exporting: {
			enabled: false
		},
		title: {
			text: ''
		},
		subtitle: {
			text: 'Max number of daily @ViewData["Metric"]'
		},
		accessibility: {
			announceNewData: {
				enabled: true
			}
		},
		xAxis: {
			type: 'category'
		},
		yAxis: {
			title: {
				text: '@ViewData["Metric"]'
			}

		},
		legend: {
			enabled: false
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				dataLabels: {
					enabled: true,
					format: '{point.y:.0f}'
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> ({point.date})<br/>'
		},

		series: [
			{
				name: '@ViewData["Metric"] / million',
				colorByPoint: false,
				data: @Html.Raw(JsonConvert.SerializeObject(Model.MaxDeathsAbsolute))
			}
		]

	});

	chartBarRelative = Highcharts.chart('barRelative', {
		chart: {
			height: 300,
			type: 'column'
		},
		credits: {
			enabled: false
		},

		exporting: {
			enabled: false
		},
		title: {
			text: ''
		},
		subtitle: {
			text: 'Max number of daily @ViewData["Metric"] / million'
		},
		accessibility: {
			announceNewData: {
				enabled: true
			}
		},
		xAxis: {
			type: 'category'
		},
		yAxis: {
			title: {
				text: '@ViewData["Metric"] / million'
			}

		},
		legend: {
			enabled: false
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				dataLabels: {
					enabled: true,
					format: '{point.y:.2f}'
				}
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> ({point.date})<br/>'
		},

		series: [
			{
				name: '@ViewData["Metric"] / million',
				colorByPoint: false,
				data: @Html.Raw(JsonConvert.SerializeObject(Model.MaxDeathsRelative))
			}
		]

	});
</script>
